<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ current_user.name }}!
</h1>
<div class="column is-4 is-offset-4">
    <h2 class="title">You can edit your profile here</h2>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/profile">


            <div class="field">
                <div class="control">
                    First Name
                    <input class="input is-large" type="text" name="first_name"
                           {% if current_user.profile.first_name is not none%}
                           placeholder={{current_user.profile.first_name}}
                           {% else %}
                           placeholder="First Name"
                           {% endif %}
                           autofocus=""
                    >
                </div>
            </div>

            <div class="field">
                <div class="control">
                    Last Name
                    <input class="input is-large" type="text" name="last_name"
                           {% if current_user.profile.last_name is not none%}
                           placeholder={{current_user.profile.last_name}}
                           {% else %}
                           placeholder="Last Name"
                           {% endif %}
                           autofocus=""
                    >
                </div>
            </div>

            <div class="field">
                <div class="control">
                    Country
                    <input class="input is-large" type="text" name="country"
                           {% if current_user.profile.country is not none%}
                           placeholder={{current_user.profile.country}}
                           {% else %}
                           placeholder="Country"
                           {% endif %}
                           autofocus=""
                    >
                </div>
            </div>

            <div class="field">
                <div class="control">
                    City
                    <input class="input is-large" type="text" name="city"
                           {% if current_user.profile.city is not none %}
                           placeholder={{current_user.profile.city}}
                           {% else %}
                           placeholder="City"
                           {% endif %}
                           autofocus=""
                    >
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Save</button>
        </form>
    </div>
</div>
{% endblock %}